:root{
    --disc-diameter-player-display: 150px;
    --disc-diameter-game-display: 50px;
}
/* Displays: 
The Name and Logo of the game
Current count of how many discs are out.
*/
.header{
    height: 10vh;
    background-color: antiquewhite;
}

#headerDisplayText{
    font-size: 28px;
}

.challengeDisplayText{
    font-size: 20px;
}

.challengeDisplay{
    font-size: 20px;
}

/* Where all the player's discs and player mats will be displayed */
.game-display{
    height: 60vh;
    background-color: rgb(223, 214, 203);
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-table{
    background-color: rgb(144, 195, 155);
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
    border: 1px solid red;
    border-radius: 50%;
}

.player-location-circle{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: relative;

}
/* The secret contents of the player's hand*/
.player-display-section{
    height: 30vh;
    background-color: rgb(142, 211, 128);
}

.player-display{
    display: grid;
 
    grid-auto-flow: column;
    grid-auto-columns: var(--disc-diameter-player-display);
    grid-template-rows: auto;
    gap: 0px;
    width: 60%;
}    

.passButton{
    width: 100px;
    background-color: brown;
    color:rgb(19, 204, 111);
}


.table-display-player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 100px;
    border: 1px solid black;
    height: 120px;
}



.table-display-player-mat{
    position:relative;
    border: 1px solid rgb(182, 126, 22);
    width: 50px;
    height: 60px;
}

.table-display-player-hand{
  
}


.player-display-section .disc{
    border-radius: 50%;
    width: var(--disc-diameter-player-display);
    height: var(--disc-diameter-player-display);
    font-size: 3rem;
}


.game-display .disc{
    border-radius: 50%;
    width: var(--disc-diameter-game-display);
    height: var(--disc-diameter-game-display);
}


.revealed {
    border: 2px solid gold;
}



.skull.revealed{
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url("./pics/skull.svg");
}

.flower.revealed{
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url("./pics/svgflower.svg");
}


.p0-disc{
    background-color: #7c3aed;
}
.p0-disc.revealed{
    background-color:#a78bfa;
}


.p1-disc{
    background-color: #dc2626;
}
.p1-disc.revealed{
    background-color: #f87171;
}

.p2-disc{
    background-color: #ca8a04;
}
.p2-disc.revealed{
    background-color:#facc15;
}

.p3-disc{
    background-color:#65a30d;
}
.p3-disc.revealed{
    background-color:#a3e635;
}

.p4-disc{
    background-color:#0d9488;
}
.p4-disc.revealed{
    background-color:#2dd4bf;
}

.p5-disc{
    background-color:#57534e;
}
.p5-disc.revealed{
    background-color:#a3a3a3;
}
